.create-user-form-box{
  position: relative;
  max-width:400px;
  min-width: 300px;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.errorMessageSigningUp{
  color:red
}

.header{
  font-size: 1.5em;
  margin-bottom: 10px;
}

.buttons-container{
  margin-top:10px;
}

.input-box{
  width: 90%;
  border-color:black
}

input:focus{
  border:2px solid rgb(146, 146, 146)
}

.error-border{
  border-color:red;
  border-width:2px;
  width:90%
}