.fb-button{
    width: 250px;
    height: 35px;
    font-size:14px;
    background-color: rgb(66,103,178);
    border-radius:5px;
    color:white;
    font-family: facebookFont;
    text-transform:none;
    padding-left:52px;
}

@font-face {
    font-family: facebookFont;
    src: url(../../fonts/TAHOMABD.TTF);
}

.facebook-icon{
    color:white;
    background-color:rgb(66,103,178);
    border-radius:103333300px;
    background: radial-gradient(rgb(66,103,178) 10px);
    border: 0px solid white;
    transform: translate(48px,4px);
  }

  .facebook-button-container{
    transform: translate(-12px,0px);
  }