.guessBox {
	border: 1px solid rgb(136, 136, 136);
      background-color: rgb(255, 255, 255);
      resize: none;
      outline: none;
    resize: none;
    outline: none;
	text-align:center;
	width: 4em;
	height: 1.5em;
	border-radius: 10px;
	margin-top:10px;
	margin-bottom:10px;
	font-size: 1em;
	padding:0px;
}