.create-login-form{
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.login-container{
  width:200px;
  background-color: gray;
  display:flex;
  margin: auto;
  min-width: 300px;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.row{
  width:auto;
  padding:10px;
}

.login-or{
  display: flex;
  align-items: center;
}

.or-child{
  padding:5px
}

.or-child-line{
  padding:5px;
  transform:translate(0px,-11px)
}