.nav-container{
    display:flex;
    margin: auto;
    width: 50%;
    min-width: 300px;
    justify-content: space-around;
}

.menu-container{
    display: flex;
    background: rgb(236, 236, 236);
    height: 40px;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: .5px solid rgb(146, 146, 146)
}