.front-page-rules{
    margin:auto;
    margin-bottom: 10px;
    max-width: 900px;
    min-width: 320px;
    border-radius: 10px;
    padding: 10px;
 
}

.from{
    color:rgb(0, 133, 0);
}

.to{
    color: rgb(216, 0, 0);
}