

button:hover{
    box-shadow: 2px 2px 4px #888888;
}

.start-target-minSteps-current-container{
    display:flex;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
    justify-content: space-around;
    margin-bottom:20px;
}

.steps-display{
    font-size: 1.5em;
}

.Home{
    min-width: 200px;
}


@font-face {
    font-family: wordderLogoFont;
    src: url(../../fonts/EveryRunRegular-ZV5pK.ttf);
}

.wordder-heading{
    font-family: wordderLogoFont;
    font-size:3em;
    margin:20px;
}